@import "tailwindcss";
@source "../../build/public/index.html";

@theme {
	--font-jetbrains: "JetBrains Mono";
	--color-primarygreen: #B8BB26;
	--color-plaintext: #D3C4A1;
	--color-background-one: #1D2021;
	--color-background-two: #191B1C;
	--color-highlight: oklch(0.8591 0 126.59 / 15.94%);
	--color-grey-border: #665C54;
	--color-red: #fb4934;
	--color-orange: #FE8019;
	--color-blue: #83A598;
	--color-pink: #D3869B;
	--color-link: #83A598;
}
